# کش‌های پایتون و ادیتور
__pycache__/
*.py[cod]
*.swp
.vscode/

# پوشه‌های حاوی داده‌ها و مدل‌های ذخیره شده
cache/
checkpoints/
data/

# فایل‌های لاگ دانلود
wget-log*

# تصاویر خروجی (نمودارها)
*.png
*.jpg
*.jpeg

# فایل‌های نتایج (مثل json ها)
*.json
isii_results*
snr_results*

# اگر پوشه models فقط حاوی وزن‌های مدل (فایل‌های سنگین) است، خط زیر را هم اضافه کنید
models/
